BITGN_API_KEY=
OPENAI_API_KEY=
MODEL_ID=gpt-5.4-mini
BENCH_ID=bitgn/ecom1-dev
AGENT_DEBUG=false

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=xxx
LANGSMITH_PROJECT=bitgn-ecom1
